@import "config.scss";

@import "theme.scss";

@font-face {
    font-family: 'museo_sans500';
    src: url('/fonts/MuseoSans_500-webfont.eot');
    src: url('/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MuseoSans_500-webfont.woff2') format('woff2'),
         url('/fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('/fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('/fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6,
.blogtitle_typesome a,  #site-head .header_typesome .blogtitle_typesome a {
    font-family: 'museo_sans500';
}


.logo--speech-bubble img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.authorimage--speech-bubble {
    background-repeat: no-repeat;
    background-size: cover;
	  display: block;
    height: 90px;
	  width: 90px;
	  margin: 0.4rem 2.5rem 0 0;
}


.newsletter-home-wrapper {
    margin-bottom: 60px; // same as .article_typesome
}

.recent-items {
	width: 80%;
	max-width: 780px;
	margin: 0 auto;
  border-top: 2px #f6f6f6 solid;
  display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

  &__col {
    -webkit-flex: 1 50%;
	  flex: 1 50%;
  }

  h2 {
      font-size: 2rem;
  }

  ol, ul {
      padding: 0;
      margin-top: 0;
      list-style-type: none;
  }
  
  li {
      font-size: 1.5rem;
  }
}

.center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


.video-wrapper {
    position:relative;
    padding-bottom:56.25%; /* aspect ration for 16:9 */
    /*padding-top: 20px;*/ /* you can add padding-top if needed */
    height:0;
    overflow:hidden;
}

.video-wrapper iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}


.women-in-tech-banner {
    $blue: #4169E1;

    padding: 1rem 0.5rem;
    margin: 2rem 0;
    border: 2px solid transparentize($blue, 0.5);
    background-color: transparentize($blue, 0.98);
    border-radius: 4px;
    display: flex;
    align-items: center;

    img {
        display: block;
        width: 120px;
        height: 120px;
        padding: 0;
    }

    &__copy {
        color: $blue;
        flex: 2;
        line-height: 1em;
    }
}
